<header class="glass-header">
  <div class="header-container">
    <div class="brand-title-container">
      <div class="logo">
        <img src="assets/logo.png" alt="DevTools Hub" />
      </div>
      <h1 class="brand-title" routerLink="/">DevTools Hub</h1>
    </div>
    <nav class="main-nav">
      <ul>
        <li>
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">
            <lucide-icon name="home" class="nav-icon" [size]="18" />
            <span>Home</span>
          </a>
        </li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>
