<header class="glass-header">
  <div class="header-container">
    <div class="brand-title-container">
      <div class="logo">
        <img src="assets/logo.png" alt="DevTools Hub" />
      </div>
      <h1 class="brand-title" routerLink="/">DevTools Hub</h1>
    </div>
    <nav class="main-nav">
      <app-button 
        label="Home" 
        (click)="onHomeClick()" 
        [active]="isRouteActive('/')" />
    
      <app-button 
        label="Favorites" 
        (click)="onFavoritesClick()" 
        [active]="isRouteActive('/favorites')" />
    </nav>
  </div>
</header>