@import '../../styles/features.scss';

:host {
  display: block;
  height: 100%;

  .timestamp-converter-container {
    @include feature-container;

    .timestamp-converter-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      height: 100%;
      max-width: 1600px;

      .input-number,
      .output-text {
        --input-width: 100%;
        --input-height: 100%;
        --input-min-height: 50px;
      }
    }

    .button {
      width: 150px;
      margin-top: 1.5rem;
      align-self: self-end;
    }
  }
}
