@import '../../styles/_features.scss';
:host {
  display: block;
  height: 100%;

  .json-tools-container {
    @include feature-container;

    .json-tools-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      height: 100%;
      max-width: 1600px;

      .input-textarea,
      .output-textarea {
        --textarea-width: 100%;
        --textarea-height: 100%;
        --textarea-min-height: 400px;
        --textarea-resize: none;
      }
    }

    .json-tools-buttons {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      margin-top: 1.5rem;
      --button-width: 200px;
    }
  }
}
