@import '../../styles/_features.scss';

:host {
  display: block;
  height: 100%;

  .jwt-decoder-container {
    @include feature-container;
    .jwt-decoder-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      height: 100%;
      max-width: 1600px;

      .input-textarea,
      .output-textarea {
        --textarea-width: 100%;
        --textarea-height: 100%;
        --textarea-min-height: 300px;
        --textarea-resize: none;
      }
    }

    .button {
      width: 150px;
      margin-top: 1.5rem;
      align-self: self-end;
    }
  }
}
