@import '../../styles/_features.scss';
:host {
    display: block;
    .base64-container {
        @include feature-container;
        .base64-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            height: 100%;
            max-width: 1600px;

            .input-textarea,
            .output-textarea {
                --textarea-width: 100%;
                --textarea-height: 100%;
                --textarea-min-height: 400px;
                --textarea-resize: none;
            }
        }
     
        .base64-buttons {
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            margin-top: 1.5rem;
        }
    }
}