<div class="regex-tester-container">
  <div class="tabs-container">
    <div class="tabs">
      <div class="tab-indicator" [class]="activeTab()"></div>
      <button
        class="tab"
        [class.active]="activeTab() === 'validator'"
        (click)="activeTab.set('validator')"
      >
        Regex Validator
      </button>
      <button
        class="tab"
        [class.active]="activeTab() === 'generator'"
        (click)="activeTab.set('generator')"
      >
        Regex Generator
      </button>
      <button
        class="tab"
        [class.active]="activeTab() === 'toText'"
        (click)="activeTab.set('toText')"
      >
        Regex to Text
      </button>
    </div>
  </div>

  <div class="tab-content-wrapper">
    @if (activeTab() === 'validator') {
      <app-regex-validator class="fade-in" />
    }

    @if (activeTab() === 'generator') {
      <app-regex-generator class="fade-in" />
    }

    @if (activeTab() === 'toText') {
      <app-regex-to-text class="fade-in" />
    }
  </div>
</div>
