<div class="json-tools-container">
  <h2>JSON Tools</h2>

  <div class="json-tools-content">
    <textarea
      #input
      placeholder="Enter JSON here..."
      class="panel-style"
      (input)="handleInputChange(input.value)"
    ></textarea>

    <div class="output-container">
      @if (outputText()) {
        <textarea
          placeholder="Output"
          class="panel-style"
          [value]="outputText()"
          disabled
        ></textarea>

        <lucide-icon class="copy-icon" name="copy" [size]="18" (click)="copyToClipboard()" />
      } @else {
        @if (errorMessage()) {
          <p class="description error">{{ errorMessage() }}</p>
        } @else {
          <p class="description">No output yet</p>
        }
      }
    </div>
  </div>

  <div class="json-tools-buttons">
    <app-button
      class="button"
      [label]="'Format'"
      [disabled]="!inputJson()"
      (click)="formatJson()"
    />
    <app-button
      class="button"
      [label]="'JSON → Interface'"
      [disabled]="!inputJson()"
      (click)="jsonToInterface()"
    />
  </div>
</div>
